*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Bebas Neue', cursive;
    --ff-secondary: 'Montserrat', sans-serif;
    --ff-three: 'Staatliches', cursive;
    --prim-color: rgb(255, 235, 59);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--prim-color);
    font-family: var(--ff-primary);

    ul {
        margin-top: 30px;
        width: 30%;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-around;

        a {
            color: black;
            text-decoration: none;
            text-shadow: 1px 1px 2px white;
        }
    }

    .logo {
        display: flex;
        
        .smiley {
            max-width: 400px;
            margin: 20px;
            color: black;
        }
    
        h2 {
            margin-top: 40px;
            text-shadow: 1px 1px 2px white;
            letter-spacing: 2px;
        }
    }
}

.slogan {
    background-color: black;
    font-family: var(--ff-three);
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: 5px;
    margin: 0;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 760px) {
    .hamburger {
       display: block;
       align-self: flex-end;
       border: 0;
       background-color: transparent;
       color: black;
       font-size: 20px;
       margin: 20px;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        align-self: flex-start;

        ul {
            display: none;
            margin: 0;
            font-size: 2.5rem;
        }

        .logo {
           display: none;
        }
    }

    ul.show {
        display: block;
        font-size: 3.5rem;
        align-self: flex-start;
        padding: 50px 40px;
    }
}

.main {
    background-image: url("/assets/imgs/IMG_4064.jpg");
    background-size: cover;
    height: 50vh;
}

@media screen and (min-width: 1000px) {
    .main {
       height: 70vh;
    }
}

.about {
    text-align: center;
    padding: 50px 20px;

    .info {
        display: flex;
        justify-content: space-around;
        font-family: var(--ff-secondary);
        
    
        p {
            font-size: .75rem;
            font-weight: 300;
        }
    
        .image {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
    }

    @media screen and (min-width: 1000px) {
        .about {
           padding: 0;
        }
    }


    @media screen and (max-width:980px) {
        .info {
            flex-direction: column;

            h5 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }

            .image {
                width: 300px;
                height: 300px;
            }
        }
    
        div {
            margin-bottom: 40px;
        }
    }
}

.footer {
    background-color: var(--prim-color);
    font-family: var(--ff-secondary);
    padding: 20px 0;

    .footer_content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-weight: 300;
    }

    .copyright {
        font-family: var(--ff-primary);
        text-align: center;
        font-size: 1em;
    }
}