* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --ff-primary: 'Bebas Neue', cursive;
  --ff-secondary: 'Montserrat', sans-serif;
  --prim-color: rgb(255, 235, 59);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: var(--prim-color);
  font-family: var(--ff-primary);
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

nav .logo h2 {
  margin-top: 7%;
  text-shadow: 1px 1px 2px white;
  letter-spacing: 2px;
}

nav .logo .smiley {
  padding: 10px 20px;
}

nav ul {
  width: 20%;
  margin-top: 7%;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul a {
  color: black;
  text-decoration: none;
  text-shadow: 1px 1px 2px white;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 960px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: black;
    font-size: 20px;
    margin: 20px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  nav ul {
    display: none;
  }
  nav .logo {
    display: none;
  }
  ul.show {
    display: block;
  }
}

.main {
  background-image: url("/assets/imgs/IMG_4064.jpg");
  background-size: cover;
  height: 50vh;
}

@media screen and (min-width: 1000px) {
  .main {
    height: 50vh;
  }
}

#about {
  padding: 7% 15%;
  text-align: center;
}

#bar {
  background-color: #f5da42;
}

.about {
  background-color: pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about .info {
  padding: 40px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: yellow;
  font-family: var(--ff-secondary);
}

.about .info p {
  font-weight: 300;
}

.about .info .comics {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about .info .sub {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about .info .bookstore {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about .info .wish {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about .info .appraisal {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@media screen and (min-width: 1000px) {
  .about .about {
    padding: 0;
  }
}

@media screen and (max-width: 980px) {
  .about .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about div {
    margin-bottom: 40px;
  }
}

.footer {
  background-color: var(--prim-color);
  font-family: var(--ff-secondary);
  padding: 20px 0;
}

.footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 300;
}

.footer .copyright {
  font-family: var(--ff-primary);
  text-align: center;
  font-size: 1em;
}
/*# sourceMappingURL=styles.css.map */