* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --ff-primary: 'Bebas Neue', cursive;
  --ff-secondary: 'Montserrat', sans-serif;
  --prim-color: rgb(255, 235, 59);
}

#nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: var(--prim-color);
  font-family: var(--ff-primary);
}

#nav nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

#nav nav .logo h2 {
  margin-top: 7%;
  text-shadow: 1px 1px 2px white;
  letter-spacing: 2px;
}

#nav nav .logo .smiley {
  padding: 10px 20px;
}

.nav_links .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space;
      -ms-flex-pack: space;
          justify-content: space;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main {
  background-image: url("/assets/imgs/IMG_4064.jpg");
  background-size: cover;
  height: 70vh;
}

#about {
  padding: 7% 15%;
  text-align: center;
}

#bar {
  background-color: #f5da42;
}

@media screen and (max-width: 1024px) {
  .nav_links {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav_links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: var(--prim-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav_links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.info {
  font-family: var(--ff-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.info .comics {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.info .sub {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.info .bookstore {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div {
    margin-bottom: 40px;
  }
}

.footer {
  background-color: var(--prim-color);
  font-family: var(--ff-secondary);
  padding: 20px 0;
}

.footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 300;
}

.footer .copyright {
  font-family: var(--ff-primary);
  text-align: center;
  font-size: 1em;
}
/*# sourceMappingURL=styles.css.map */