*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Bebas Neue', cursive;
    --ff-secondary: 'Montserrat', sans-serif;
    --ff-third: 'Poppins', sans-serif;
    --ff-fourth: 'Staatliches', cursive;
    --prim-color: #01f5e1;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--prim-color);
    font-family: var(--ff-primary);

    ul {
        margin-top: 30px;
        width: 30%;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-around;

        a {
            color: black;
            text-decoration: none;
            // text-shadow: 1px 1px 2px white;
        }

        a:hover {
            color: white;
        }
    }

    .logo {
        display: flex;
        
        .smiley {
            max-width: 400px;
            margin: 20px;
        }
    
        h2 {
            margin-top: 5%;
            // text-shadow: 1px 1px 2px black;
            font-size: 3.5rem;
            font-weight: 700;
            color: black;
        }
    }
}


.lame-sm {
    background-color: var(--prim-color);
    padding-bottom: 5px;
    margin: 0;

    h4 {
        justify-content: center;
        visibility: hidden;
    }
}

@media screen and (max-width: 768px) {
    nav {
        .logo {
            h2 {
                padding-top: 5px;
                font-size: 2.8rem;
            }
        }
    }

    .lame-sm {
        text-align: center;
        padding-top: 10px;
        
        h4 {
            font-family: var(--ff-secondary);
            color: black;
            font-weight: 900;
            visibility: visible;
        }
    }
}

.hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    .hamburger {
       display: block;
       align-self: flex-end;
       border: 0;
       background-color: transparent;
       color: black;
       font-size: 20px;
       margin: 20px;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        align-self: flex-start;

        ul {
            display: none;
            margin: 0;
            font-size: 2.5rem;
        }

        .logo {
           display: none;
        }
    }

    ul.show {
        display: block;
        font-size: 3.5rem;
        align-self: flex-start;
        padding: 50px 40px;
    }
}

.main {
    background-image: linear-gradient(117deg, rgba(212, 212, 248, 0.1), rgba(0, 0, 0, 0.5)), 
                       url("/assets/imgs/IMG_4064.jpg");
    background-size: cover;
    height: 70vh;

    .lame {
        position: absolute;
        top: 30%;
        right: 70px;
        transform: rotate(-10deg);
        font-size: 6rem;
        line-height: 74px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        color: white;
        text-shadow: 5px 14px 13px rgb(0, 0, 0);
        letter-spacing: -5px;
    }
}

@media screen and (max-width: 768px) {
    .main {
        height: 50vh;
    }

    .lame {
        display: none;
    }
}

.about {
    // background-image: linear-gradient(rgba(94, 94, 247, 0.1), rgb(19, 70, 163)),
    //                    url("/assets/imgs/brett-jordan-nRWvT3z5Dnc-unsplash.jpg");
    // background-size: cover;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 50px 20px;

    .info {
        display: flex;
        justify-content: space-around;
        font-family: var(--ff-secondary);
        // text-shadow: 1px 1px 2px black;
        height: 40vh;
        padding-top: 40px;
        padding-bottom: 20px;

        h4 {
            font-family: var(--ff-primary);
            color: black;
        }
        
    
        p {
            color: black;
            font-size: .75rem;
            font-weight: 300;
        }
    
        .image {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 20px;
        }
    }

    @media screen and (min-width: 1000px) {
        .about {
           padding: 0;
        }
    }


    @media screen and (max-width:980px) {
        .info {
            flex-direction: column;
            height: auto;

            h5 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }

            .image {
                width: 300px;
                height: 300px;
            }
        }
    
        div {
            margin-bottom: 40px;
        }
    }
}

.footer {
    background-color: var(--prim-color);
    font-family: var(--ff-secondary);
    padding: 20px 0;

    .footer_content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-weight: 300;
    }

    .copyright {
        font-family: var(--ff-primary);
        text-align: center;
        font-size: 1em;
    }
}