* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --ff-primary: 'Bebas Neue', cursive;
  --ff-secondary: 'Montserrat', sans-serif;
  --ff-third: 'Poppins', sans-serif;
  --ff-fourth: 'Staatliches', cursive;
  --prim-color: #01f5e1;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--prim-color);
  font-family: var(--ff-primary);
}

nav ul {
  margin-top: 30px;
  width: 30%;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul a {
  color: black;
  text-decoration: none;
}

nav ul a:hover {
  color: white;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .logo .smiley {
  max-width: 400px;
  margin: 20px;
}

nav .logo .logo-text h2 {
  margin-top: 6%;
  font-size: 3.5rem;
  font-weight: 700;
  color: black;
  margin-bottom: 0;
}

nav .logo .logo-text h5 {
  margin-top: -2%;
  margin-left: 80%;
  font-size: 1.1rem;
  padding-top: 0%;
  text-align: end;
}

.lame-sm {
  background-color: var(--prim-color);
  padding-bottom: 5px;
  margin: 0;
}

.lame-sm h4 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  nav .logo h2 {
    padding-top: 5px;
    font-size: 2.8rem;
  }
  .lame-sm {
    text-align: center;
    padding-top: 5px;
  }
  .lame-sm h4 {
    font-family: var(--ff-secondary);
    color: black;
    font-weight: 900;
    visibility: visible;
  }
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    -ms-flex-item-align: end;
        align-self: flex-end;
    border: 0;
    background-color: transparent;
    color: black;
    font-size: 20px;
    margin: 20px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  nav ul {
    display: none;
    margin: 0;
    font-size: 2.5rem;
  }
  nav .logo {
    display: none;
  }
  ul.show {
    display: block;
    font-size: 3.5rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 50px 40px;
  }
}

.main {
  background-image: linear-gradient(117deg, rgba(212, 212, 248, 0.1), rgba(0, 0, 0, 0.5)), url("/assets/imgs/IMG_4064.jpg");
  background-size: cover;
  height: 70vh;
}

.main .lame {
  position: absolute;
  top: 30%;
  right: 70px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  font-size: 6rem;
  line-height: 74px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: white;
  text-shadow: 5px 14px 13px black;
  letter-spacing: -5px;
}

@media screen and (max-width: 768px) {
  .main {
    height: 50vh;
  }
  .lame {
    display: none;
  }
}

.info {
  background-color: white;
  text-align: center;
  padding: 50px 20px;
}

.info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: var(--ff-secondary);
  padding-top: 2%;
  padding-bottom: 2%;
}

.info .info h4 {
  font-size: 2rem;
  font-family: var(--ff-primary);
  color: black;
}

.info .info p {
  color: black;
  font-size: .75rem;
  font-weight: 300;
  margin-bottom: 15px;
}

.info .info .image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

@media screen and (min-width: 1000px) {
  .info .info {
    padding: 0;
  }
}

@media screen and (max-width: 980px) {
  .info .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .info .info h5 {
    font-size: 2rem;
  }
  .info .info p {
    font-size: 1rem;
  }
  .info .info .image {
    width: 300px;
    height: 300px;
  }
  .info div {
    margin-bottom: 40px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--prim-color);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about .bio {
  font-family: var(--ff-primary);
  width: 50%;
}

.about .bio h2 {
  padding: 20px 40px;
  color: black;
  font-size: 3rem;
}

.about .bio p {
  padding: 10px 20px;
  font-family: var(--ff-third);
  font-weight: 100;
  line-height: 1.5em;
}

.about .img-container {
  width: 50%;
  margin-bottom: auto;
}

.about .img-container img {
  padding: 0 50px;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 968px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-img {
    max-width: 100%;
  }
}

.contact {
  font-family: var(--ff-third);
}

.contact .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-us h4 {
  font-size: 3rem;
  padding-top: 20px;
  font-family: var(--ff-primary);
}

.contact .contact-us form {
  width: 70%;
  background-color: pink;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 40px;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin-bottom: 60px;
}

.contact .contact-us form li {
  padding: 10px 0;
}

.contact .contact-us form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact .contact-us form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact .contact-us form button {
  width: 40%;
  background-color: var(--prim-color);
  font-family: var(--ff-third);
  padding: 14px 20px;
  margin-top: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 30%;
}

.footer {
  background-color: var(--prim-color);
  font-family: var(--ff-secondary);
  padding: 20px 0;
}

.footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 300;
  line-height: 1.5em;
}

.footer .footer_content h4 {
  font-family: var(--ff-primary);
  font-size: 1.5rem;
}

.footer .footer_content .social {
  padding-top: 20px;
}

.footer .copyright {
  font-family: var(--ff-primary);
  text-align: center;
  font-size: 1em;
}
/*# sourceMappingURL=styles.css.map */